body {
  background: url('background.png');
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.main {
  display: flex;
  justify-content: center;
}
.container {
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}
p {
  margin: 0;
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
input:focus {
  outline: none;
}
.card:hover {
  transform: translate(0, -20px);
  transition: all 0.3s ease;
  cursor: pointer;
}